.user{
    flex:4;
    padding: 20px;
}
.usertitlecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAddbutton{
width: 80px;
border: none;
padding: 5px;
background-color: teal;
border-radius: 5px;
cursor: pointer;
color: white;
font-size: 16px;

}
.usercontainer{
    display: flex;
    margin-top: 20px;
}
.usershow{
    flex:1;
    padding: 20px;
    box-shadow: 11px 9px 7px -8px rgba(0,0,0,0.35);
-webkit-box-shadow: 11px 9px 7px -8px rgba(0,0,0,0.35);
-moz-box-shadow: 11px 9px 7px -8px rgba(0,0,0,0.35);
}
.userupdate{
    flex:2;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 11px 9px 7px -8px rgba(0,0,0,0.35);
-webkit-box-shadow: 11px 9px 7px -8px rgba(0,0,0,0.35);
-moz-box-shadow: 11px 9px 7px -8px rgba(0,0,0,0.35);
}
.usershowtop{
display: flex;
align-items: center;
}
.usershow-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.usershowtoptitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.usershowusername{
    font-weight: 600;
}
.usershowusertitle{
    font-weight: 300;
}
.usershowbottom{
    margin-top: 20px;
}
.usershowtitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175,170,170);
}
.usershowinfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.usershowicon{
    font-size: 16px;
}
.usershowinfotitle{
    margin-left: 10px;
}
.userupdate-image{
    width:100px;
    height:100px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;
}
.userupdateform{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userupdatetitle{
    font-size: 16px;
}
.userupdateitem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userupdateitem>label{
    font-size: 14px;
    margin-bottom: 5px;
}
.userupdateinput{
    border:none;
    width:250px;
    height:30px;
    border-bottom: 1px solid gray;
}
.userupdateright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.userupdateupload{
    display: flex;
    justify-content: center;
}
.userupdatebutton{
    border-radius: 5px;
    border:none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 700;
}

